<ul class="timeline">
<% for (const item of items) { %>
<li class="item">
  <div class="year" style="transform: translateX(-50%)  translateY(130%) rotate(-90deg);"><%= item.date %></div>
  <b><%= item.title %></b><br>
  <i><%= item.place %></i><br>
  <% if (item.links) { %>Links: 
    <% for (const [venue, link] of Object.entries(item.links)) { %>
    [<a href="<%- link %>"><%= venue %></a>]&nbsp;
    <% } %>
  <% } %>
  <% if (item.abstract) { %>
    <details>
      <summary style="color:#eb6864">Abstract</summary>
      <span><%= item.abstract %></span>
    </details>
  <% } %>
</li>
<% } %>
</ul>
